.card-header {
    padding: 1rem 1rem;
    margin-bottom: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #EBEDF3;
}
.font-semibold {
	font-weight: 600
}

.card-body-personalizado{
    padding: 10px;
}
